<head>
    <meta charset="UTF-8">
    <title>MINI PAAS</title>


    <!-- 定义style CSS定义的区域 -->
    <link language="JavaScript" rel="stylesheet" href="/static/plugins/morris/morris.css">
    <link language="JavaScript" href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link language="JavaScript" href="/static/css/core.css" rel="stylesheet" type="text/css" />
    <link language="JavaScript" href="/static/css/components.css" rel="stylesheet" type="text/css" />
    <link language="JavaScript" href="/static/css/icons.css" rel="stylesheet" type="text/css" />
    <link language="JavaScript" href="/static/css/pages.css" rel="stylesheet" type="text/css" />
    <link language="JavaScript" href="/static/css/responsive.css" rel="stylesheet" type="text/css" />
    <link language="JavaScript" href="/static/css/skins/skin-blue.min.css" type="text/css" />
    <link language="JavaScript" href="/static/css/skins/_all-skins.min.css" type="text/css" />
    <!--{#        <link language="JavaScript" href="/static/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />#}-->
    <link language="JavaScript" href="/static/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    {{ block "css" . }}{{ end }}
    {{ block "style" . }}{{ end }}

    <style>
        .input-group.input-group-sm {
            float: right !important;
        }
        .fixed-table-loading {
            display: none;
        }
    </style>

</head>