<div class="left side-menu main-sidebar">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">

            <ul class="sidebar-menu">
                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="http://127.0.0.1:8081"><i class="ti-home"></i> <span>总览</span></a></li>
                <!--容器服务-->
                <li class="treeview">
                    <a href="#" class="waves-effect">
                        <i class="ti-blackboard"></i> <span>容器服务</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class=""><a href="/apps">容器&服务</a></li>
                        <li class=""><a href="/apps1">APPS1</a></li>
                    </ul>
                </li>
                <!--代码构建-->
                <li class="treeview">
                    <a href="#" class="waves-effect">
                        <i class="ti-zip"></i><span>代码构建</span>
                    </a>
                    <ul class="treeview-menu">
                        <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>在线构建</a></li>-->
                        <li class=""><a href="#">离线构建</a></li>
                    </ul>
                </li>
                <!--镜像市场-->
                <li class="treeview">
                    <a href="#" class="waves-effect">
                        <i class=" ti-server"></i> <span>镜像市场</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class=""><a href="#">镜像中心</a></li>
                        <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>我的镜像仓库</a></li>-->
                    </ul>
                </li>
                <!--服务编排-->
                <li class="treeview">
                    <a href="#" class="waves-effect">
                        <i class="fa fa-dashboard"></i> <span>服务编排</span>
                    </a>
                    <ul class="treeview-menu">
                        <li class=""><a href="#"><i class="fa fa-circle-o"></i>我的编排</a></li>
                    </ul>
                </li>
                <!--&lt;!&ndash;集群管理&ndash;&gt;-->
                <!--<li class="treeview">-->
                    <!--<a href="#" class="waves-effect">-->
                        <!--<i class="fa fa-dashboard"></i> <span>集群管理</span>-->
                    <!--</a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--<li class=""><a href="#" ><i class="fa fa-circle-o"></i>我的集群</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--&lt;!&ndash;存储管理&ndash;&gt;-->
                <!--<li class="treeview">-->
                    <!--<a href="#" class="waves-effect">-->
                        <!--<i class="fa fa-dashboard"></i>-->
                        <!--<span>存储管理</span>-->
                    <!--</a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>我的存储</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>



<!--<aside class="main-sidebar">-->
    <!--&lt;!&ndash; sidebar: style can be found in sidebar.less &ndash;&gt;-->
    <!--<section class="sidebar">-->
        <!--&lt;!&ndash; Sidebar Menu &ndash;&gt;-->
        <!--<ul class="sidebar-menu">-->
            <!--&lt;!&ndash; Optionally, you can add icons to the links &ndash;&gt;-->
            <!--<li class="active"><a href="http://127.0.0.1:8080"><i class="fa fa-link"></i> <span>总览</span></a></li>-->
            <!--&lt;!&ndash;容器服务&ndash;&gt;-->
            <!--<li class="treeview">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-dashboard"></i> <span>容器服务</span>-->
                    <!--<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                    <!--<li class=""><a href="/apps"><i class="fa fa-circle-o"></i>容器&服务</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--&lt;!&ndash;代码构建&ndash;&gt;-->
            <!--<li class="treeview">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-dashboard"></i> <span>代码构建</span>-->
                    <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>在线构建</a></li>-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>离线构建</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--&lt;!&ndash;镜像市场&ndash;&gt;-->
            <!--<li class="treeview">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-dashboard"></i> <span>镜像市场</span>-->
                    <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>镜像中心</a></li>-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>我的镜像仓库</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--&lt;!&ndash;服务编排&ndash;&gt;-->
            <!--<li class="treeview">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-dashboard"></i> <span>服务编排</span>-->
                    <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>我的编排</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--&lt;!&ndash;集群管理&ndash;&gt;-->
            <!--<li class="treeview">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-dashboard"></i> <span>集群管理</span>-->
                    <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>我的集群</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--&lt;!&ndash;存储管理&ndash;&gt;-->
            <!--<li class="treeview">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-dashboard"></i> <span>存储管理</span>-->
                    <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>我的存储</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--&lt;!&ndash;系统设置&ndash;&gt;-->
            <!--<li class="treeview">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-dashboard"></i> <span>系统设置</span>-->
                    <!--<span class="pull-right-container">-->
              <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</span>-->
                <!--</a>-->
                <!--<ul class="treeview-menu">-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>角色管理</a></li>-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>用户管理</a></li>-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>权限管理</a></li>-->
                    <!--<li class=""><a href="#"><i class="fa fa-circle-o"></i>用户组管理</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
        <!--&lt;!&ndash; /.sidebar-menu &ndash;&gt;-->
    <!--</section>-->
    <!--&lt;!&ndash; /.sidebar &ndash;&gt;-->
<!--</aside>-->
