{{template "starter.html"}}
{{ define "style" }}
    <style>
        .box {
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 30px 20px 25px 25px;
            border-radius: 1px;
            width: 32%;
            height: 270px;

        }

        .description {
            font-size: 13px;
            line-height: 22px;
            display: -webkit-box;
            overflow: hidden;
            height: 66px;
            margin: 25px 0 7px;
            text-overflow: ellipsis;
            color: #595f69;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .img-title img {
            width: 64px;
            height: 64px;
            cursor: pointer;
        }
    </style>
{{ end }}

{{ define "css"}}
    <link href="../static/plugins/custombox/dist/custombox.min.css" rel="stylesheet">
    <!-- ION Slider -->
    <link href="../static/plugins/ion-rangeslider/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
    <link href="../static/plugins/ion-rangeslider/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css"/>

    <link href="../static/plugins/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet" type="text/css"/>
{{ end }}

{{ define "js" }}
    <!--<script src="../static/js/modernizr.min.js"></script>-->
    <script src="../static/plugins/ion-rangeslider/ion.rangeSlider.min.js"></script>
    <script src="../static/plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script src="../static/pages/jquery.ui-sliders.js"></script>

{{ end }}

{{ define "content" }}
    <!-- Content Wrapper. Contains page content -->
    <div class="row col-sm-12" style="height: 100%">
        <div class="column card-box col-md-2" style="height: 100%" id="sideBar2">
            <div style="border-bottom: 1px solid #d7dce5;padding: 20px 0;height: 71px;margin-bottom: -12px">
                <form role="search" class="navbar-left pull-left hidden-xs" style="color: #797979 !important;position: relative;margin: 0px 0px 15px 10px;">
                    <input type="text" placeholder="Search..." class="form-control" style="padding-right: 27px;border-radius: 27px;height: 30px">
                    <span style="float: right; position: absolute;top: 5px;right: 9px;color: #c4c4cd;"><i class="fa fa-search"></i></span>
                </form>
            </div>

            <p class="text-muted font-13 m-b-15 m-t-20"><strong>来源</strong></p>
            <div>
                <div class="radio radio-success">
                    <input type="radio" id="singleRadio1" value="featured" name="category" checked>
                    <label for="singleRadio1"> 精选镜像</label>
                </div>
                <div class="radio radio-success radio-single">
                    <input type="radio" id="singleRadio2" value="community" name="category">
                    <label for="singleRadio2"> 社区镜像</label>
                </div>
                <div class="radio radio-success radio-single">
                    <input type="radio" id="singleRadio3" value="dockerhub" name="category">
                    <label for="singleRadio3"> Docker Hub</label>
                </div>
            </div>
        </div>
        <div class="column col-md-10">
            <div class="row">
                <div class="col-sm-12">

                    <div class="tab-content" style="padding-top: 40px">
                        <div class="row" style="margin-left: -25px">
                            <div class="col-md-10"></div>
                            <div class="form-group">

                                <div class="col-md-2">
                                    <table style="margin-bottom: 12px">
                                        <tr>
                                            <td>
                                                <label for="ordering" class="control-label">排序</label>
                                            </td>
                                            <td>
                                                <select id="ordering" onchange="getAPIdaocloud()" class="form-control" style="margin-left: 10px">
                                                    <option value="-updated_at">更新时间</option>
                                                    <option value="-download_count">下载量</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="tab0">
                            <div class="col-md-12">

                            </div>
                            <div class="cloudbox"></div>
                        </div>
                        <div class="tab-pane" id="tab1">
                            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Modal -->
    <div id="custom-modal" class="modal-demo">
        <button type="button" class="close" onclick="Custombox.close();">
            <span>&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="custom-modal-title">创建应用</h4>
        <div class="custom-modal-text">
            <form class="form-horizontal" id="resForm">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="appname">应用名称:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="appname" name="appname" palceholder="请输入应用名称" check-type="required" required-message="请输入应用名称" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="image">镜像地址:</label>
                        <div class="col-sm-6">
                            <!--<input type="text" class="form-control" id="image" palceholder="" check-type="required" required-message="请填写镜像地址" />-->
                            <select class="form-control" id="image" name="image" palceholder="" check-type="required" required-message="请填写镜像地址">
                                <option></option>
                                <option>image1</option>
                                <option>image2</option>
                                <option>image3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="version">镜像版本:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="version" name="version" palceholder="" check-type="required" required-message="请填写镜像版本" />
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label" for="cpu">cpu:</label>-->
                        <!--<div class="col-sm-6">-->
                            <!--<input type="text" class="form-control" id="cpu" palceholder="" check-type="required mobile" required-message="请填写cpu资源大小" />-->
                        <!--</div>-->
                        <!---->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="cpu" class="col-sm-3 control-label"><b>cpu: </b></label>
                        <div class="col-sm-6 irs-blue">
                            <input type="text" id="cpu" name="cpu">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label" for="memory">内存:</label>-->
                        <!--<div class="col-sm-6">-->
                            <!--<input type="text" class="form-control" id="memory" palceholder="" check-type="required telephone" required-message="请填写内存大小" />-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="memory" class="col-sm-3 control-label"><b>内存:</b></label>
                        <div class="col-sm-6 irs-green">
                            <input type="text" id="memory" name="memory">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label" for="instanceCnt">容器个数:</label>-->
                        <!--<div class="col-sm-6">-->
                            <!--<input type="text" class="form-control" id="instanceCnt" palceholder="" />-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="instanceCnt" class="col-sm-3 control-label"><b>容器个数: </b></label>
                        <div class="col-sm-6 irs-yellow">
                            <input type="text" id="instanceCnt" name="instanceCnt">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="remark">备注:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="remark" name="remark" palceholder="" />
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" onclick="Custombox.close();">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="createApp()">Save</button>
            </div>
        </div>
    </div>
{{ end }}


{{ define "script" }}
    <script type="text/javascript">
        $(document).ready(function () {
            getAPIdaocloud()
        })
        $(document).ready(function () {
            $("#cpu").ionRangeSlider({
                type: "single",
                grid: true,
                min: 0,
                max: 100,
                postfix: "%"
            });
            $("#memory").ionRangeSlider({
                type: "single",
                grid: true,
                min: 2,
                max: 8,
                postfix: "GB"
            });
            $("#instanceCnt").ionRangeSlider({
                type: "single",
                grid: true,
                min: 1,
                max: 10
            });
        })

        function SaveCreateApplication() {
            var data = serializeArrayToJSON($("#resForm").serializeArray())
            console.log(data)
            Custombox.close()
        }
        function createApp() {
            var appName = $('#appname').val()
            var image = $('#image').val() + ":" + $('#version').val()
            var cpu = $('#cpu').val()
            var memory = $('#memory').val()
            var instanceCnt = $('#instanceCnt').val()
            var remark = $('#remark').val()
            console.log(JSON.stringify({
                "name": appName,
                "region": "IPGO",
                "memory": memory,
                "cpu": cpu,
                "instanceCount": Number(instanceCnt),
                "image": image,
                "userName": "oliver",
                "remark": "this is a test web application"
            }))
            $.ajax({
                type: 'POST',
                url: "http://10.5.9.47:9090/api/v1/apps",
                dataType: 'JSON',
                contentType: "application/json",
                data: JSON.stringify({
                    "name": appName,
                    "region": "IPGO",
                    "memory": memory,
                    "cpu": cpu,
                    "instanceCount": Number(instanceCnt),
                    "image": image,
                    "userName": "oliver",
                    "remark": "this is a test web application"
                }),
                success: function(data, status) {
                    console.log(data);
                    $("#cpu").data("ionRangeSlider").reset()
                    $("#memory").data("ionRangeSlider").reset()
                    $("#instanceCnt").data("ionRangeSlider").reset()
                    Custombox.close()
                    //$('#addapp').modal('hide');

                },
                error: function(XHR, status, errorThrown) {
                    console.log(XHR);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

        }
        
        
        function getAPIdaocloud() {
            $.ajax({
                type: 'GET',
                url: "https://api.daocloud.io/hub/v2/store/repos?ordering="+$("#ordering").val()+"&page=1&page_size=9&q=&random=false",
                success: function(daocloud, status) {
                    var str = ""
                    for(var a=0; a<daocloud.results.length; a++){
                        var dao = daocloud.results[a]
                        var content = dao.brief
                        if(dao.brief.length > 90){
                            content = dao.brief.substring(0,90) + "..."
                        }
                        var publisher_full_name = ""
                        if(dao.publisher){
                            var publisher_full_name = dao.publisher.full_name
                        }
                        str += "<div class='col-md-3 card-box box'>" +
                            "           <div style='display: flex' class='img-title'><img src='"+ dao.icon_url +"'>" +
                            "               <div style='margin-left: 20px;'>" +
//                            "                  <a>"+dao.repo_title+"</a><p style='font-size: 14px;line-height: 1;margin: 0;color: #9ba3af;'>"+ dao.publisher.full_name+"</p>" +
                            "                  <a>"+dao.repo_title+"</a><p style='font-size: 14px;line-height: 1;margin: 0;color: #9ba3af;'>"+ publisher_full_name +"</p>" +
                            "               </div>" +
                            "           </div>" +
                            "           <p class='description' style='text-rendering: optimizeLegibility;'>"+ content +"</p>" +
                            "           <div>" +
                            "                   <button class='btn btn-primary waves-effect waves-light btn-xs create-new-application' data-animation='flash'  data-overlaySpeed='100' data-overlayColor='#36404a' style='float: right;margin-top: 42px;margin-right: 10px;'>click</button>" +
//                    "                   <a href='#custom-modal' class='btn btn-primary waves-effect waves-light btn-xs' data-animation='flash' data-plugin='custommodal' data-overlaySpeed='100' data-overlayColor='#36404a' style='float: right;margin-top: 42px;margin-right: 10px;'>click</a>" +
                            "           </div>" +
                            "   </div>"
                    }

                    $("#tab0 .cloudbox").html("<div style='margin-top: 10px'>"+str+"</div>")
                    var h = $(".left.side-menu.main-sidebar").height()
                    console.log(">>>        ",$("body").height(),$("#wrapper").height(),$(".topbar").height(),$(".main-footer.footer.text-right").height())
                    $("#sideBar2").height(h)
                    $(".create-new-application").each(function () {
                        $(this).on("click",function (e) {
                            $('#appname').val('')
                            $('#image').val('')
                            $('#version').val('')
                            $('#remark').val('')
                            Custombox.open({
                                target: "#custom-modal",
                                effect: "fadein",
                                overlaySpeed: "100",
                                overlayColor: "#36404a",
                                overlayClose: false
                            });
                            e.preventDefault();
                        })
                    })
                },
                error: function(XHR, status, errorThrown) {
                    console.log(XHR);
                    console.log(status);
                    console.log(errorThrown);
                }
            });
        }

    </script>


{{ end }}


