<div id="expensiveApp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 id="myModalLabel">弹性伸缩</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="resForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cp">cpu:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cp" palceholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="mem">内存:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="mem" palceholder="" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="expensive">确定</button>
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" id="">取消
                </button>
            </div>
        </div>
    </div>
</div>
